@import './bootstrap';

$theme-color-1: #E1000F;
$theme-color-2: #fff;
html, body, #root,.main, .container, .row{
    width: 100%;
    height: 100%;
    position: relative;
    font-size: 14px
}
.navbar{
    a{
        color: $theme-color-2 !important;
    }
    
    width: 100%;
    background-color: $theme-color-1 !important;
} 
.form-container{
    h4{
        text-align: center;
    }
    form{
        border: 1px solid #707070;
        border-radius: 5px;
        padding: 1em;
    }
    .btn{
        margin-right: 0.5em;
    }
}
.d-flex{
    p{
        margin: 0 0 0 10px;
        line-height: 1.5em;
    }
}
button{
    svg{
        margin-right: 0.3em;
        margin-top: -3px;
    }
}
.assets-list{
    td, th{
        vertical-align: baseline;
    }
    .showmore{
        svg{
            cursor: pointer;
        }
    }
    
}

.details-block{
    padding: 1em;
    border: 1px solid;
    position:  absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    font-size: 0.8em;
    button{
        margin-right: 0.5em;
    }
    thead{
        th{
            border-top: none;
        }
    }
    
}
